@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700;800&display=swap');
*{
  padding:0;
  margin:0;
  box-sizing: border-box;
}

body{
  font-family: 'Raleway', sans-serif;
  background-color: #100E1D;
  color:#E7E7EB;

}
.container {
  display: flex;
  flex-direction: column;
}
.container-search {
  position: relative;
}

.search-city-content {
  padding: 30px 18px;
  height:767px;
}
 

 
.search-city {
  background-color:rgba(30, 33, 58)  ;
 
  
}
button:active {
  transform: scale(0.98);
}

  
.buttons {
  display: flex;justify-content: space-between;
}
.search-btn{
  width: 160px;
  height:40px;
  background: #6E707A;
  color:#E7E7EB;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  border:none; 
  box-shadow: 0px 4px 4px 0px #00000040;

  
}

.location-btn{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background: #6E707A;
  color:#E7E7EB;
  font-size: 22px;
  border:none;

  border-radius: 50%;


}
.w-status {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.w-img{
  width: 150px;
  margin-top: 96px;
}
.degree-s {
  color: #E7E7EB;
  font-weight: 500;
  font-size: 128px;
  line-height: 128px;
  margin-top: 24px;
}
.celci-s {
  font-size: 45px;
  color:#A09FB1
}
.w-desc {
  margin-top: 16px;
  color:#A09FB1;
  font-weight: 600;
  font-size: 36px;
  line-height: 42px;
  
}
.today {
  margin-top: 16px;
  color: #88869D;
  font-weight: 500;
  font-size: 18px;

}
.dot {
  margin-left: 5px;
  margin-right: 5px;


}

.location-s{
  font-weight: 600;
  font-size: 18px;
  line-height: 21px;
  width: 68px;
  height: 21px;
  color: #88869D;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 32px;
  margin-bottom: 100px;
}

.city-name{
  margin-left: 16px;
}


/*********** nav-search *************/


.nav-search {
  height:767px;
  background-color:#1E213A;
  position: absolute;
  width: 100%;
  left:100%;
  top: 0;
  transition: all .4s linear;
  display: flex;
  justify-content: center;
}

.nav-search-close {
  position: absolute;
  right:2rem;
  top: 1rem;
}


.fa-xmark {
  color: #E7E7EB;
  font-size: 1.8rem;

}
.nav-search-search {
  margin-top: 5rem;
  
}
.nav-search-input{
  background-color: transparent;
  border: 1px solid #E7E7EB;
  width:252px;
  padding: .8rem .3rem .8rem 3rem ; 
  font-size: 1rem;
  border-radius: 0;
  box-shadow: none;
  color:#616475;
  height:48px;
  
}

.fa-magnifying-glass {
  color:#616475;
   position:absolute;
  left:20px;
  top:50%;
  transform: translateY(-50%);
}
.nav-input-content {
  position: relative;
}

.nav-search-button {
  background: #3C47E9;
  color:#E7E7EB;
  font-size: 1rem;
  margin-left: .8rem;
  border:none;
  height:48px;
  width: 86px;
}
.nav-search-result-ul{
  position: absolute;
  margin:0 2rem;
  top:170px;
  left:0px;
  list-style-type: none;
  width:90%;
  height:550px;
  overflow: auto;
  padding:2px;
 
 

}
.nav-search-result-btn {
  background-color: inherit;
  color:#E7E7EB;
  border:none;
  font-size: .8rem;

}

.nav-search-result-li {
  padding:1.5rem 1rem;
  width: 100%;
  transition: all .2s ease;
  display: flex;
  justify-content: space-between;
 

}
.nav-search-result-li svg{
  color:#88869D;
  visibility: hidden;

}
.nav-search-result-li:hover {
  outline: 1px solid #88869D;
  cursor: pointer;
}
.nav-search-result-li:hover svg {
  visibility:visible;
}

@media (max-width:375px){

  .nav-search-input{
    width:180px;
  }
}

 /************ celcious fahreneit ***************/
 
 .statistic-all {
   
}
.statistic {
  padding:2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.cel-fa {
  justify-content: end;
  display: flex;
  margin-top: 2rem;
  margin-right: 2rem;
}
.cel-fa>div{
  display: flex;
  justify-content:space-evenly;
  gap:1rem;
}
.cel-fa-cf {
  padding:11px;
  border-radius: 50%;
  cursor:pointer;
  font-weight: 700;
  background-color:#585676 ;
  color: #E7E7EB;
  margin-bottom: 1rem;
  width: 40px;
  height:40px;
}
 .cel-fa-cf:active {
   transform:scale(.98);
   user-select: none;
  }
  .cel-fa-active {
    color:#110E3C;
    background-color: #E7E7EB;
    
  }
  
  
  /************ weekly status ***************/

  .day {
    margin:18px 13px;
    color: #E7E7EB;
    background: #1E213A;
    width:120px;
    height:177px;

    text-align: center;
  }

  .weekly{
    display: flex;
    flex-wrap: wrap;
  
  }
  .day-img img{
    width:56px;
    margin-top: 10px;
  }
  .day-degree {
    display: flex;
  }
  .day-desc {
    font-weight: 500;
    margin-top: 18PX;
   
  }
  .night {
    color:#A09FB1;
   
  }
  .day-degree {
    margin-top: 32px;
    display: flex;
    justify-content: center;
    gap:.5rem;
    font-size: 14px;
  }